.App {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  min-height: 100vh;
  font-family: 'Inter', san-serif;
}

.todo-box {
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  color: #1a1a1a;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.input-group .input-text {
  flex: 2;
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid #e1e1e1;
  outline: none;
  transition: border-color 0.3s;
}

.input-group .input-date {
  flex: 1;
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid #e1e1e1;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #7c7b7b;
}

.add-button {
  background-color: rgb(127, 216, 216);
  border-radius: 10px;
  color: #ffffff;
  border: none;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  transform: opacity 0.3s;
}

.add-button:hover {
  opacity: 0.9;
}

.job-list {
  list-style: none;
  padding: 0;
}

.job-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  background-color: #eceff1;
  border-radius: 16px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.job-item:hover {
  transform: translateX(5px);
  background-color: #e1e1e1;
}

.job-text {
  color: #374151;
  font-size: 16px;
}

.delete-button {
  background-color: #fee2e2;
  color: #ef4444;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-button:hover {
  background-color: red;
  color: white;
}

.empty-text {
  text-align: center;
  color: #9ca3af;
  font-style: italic;
  margin-top: 20px;
}
